<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <span class="card-icon">
        <i class="flaticon2-delivery-package text-primary"></i>
      </span>
      <h3 class="card-label">Formulario de busqueda avanzada</h3>
    </div>
    <div class="card-toolbar">
      <!--begin::Dropdown-->
      <div class="dropdown dropdown-inline mr-2">
        <button
          type="button"
          class="btn btn-light-primary font-weight-bolder dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="svg-icon svg-icon-md">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"></rect>
                <path
                  d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                  fill="#000000"
                  opacity="0.3"
                ></path>
                <path
                  d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                  fill="#000000"
                ></path>
              </g>
            </svg>
            <!--end::Svg Icon--> </span
          >Exportar
        </button>
        <!--begin::Dropdown Menu-->
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
          <!--begin::Navigation-->
          <ul class="navi flex-column navi-hover py-2">
            <li
              class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2"
            >
              Elija una opcion:
            </li>
            <li class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="la la-print"></i>
                </span>
                <span class="navi-text">Imprimir</span>
              </a>
            </li>
            <li class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="la la-copy"></i>
                </span>
                <span class="navi-text">Copiar</span>
              </a>
            </li>
            <li class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="la la-file-excel-o"></i>
                </span>
                <span class="navi-text">Excel</span>
              </a>
            </li>
            <li class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="la la-file-text-o"></i>
                </span>
                <span class="navi-text">CSV</span>
              </a>
            </li>
            <li class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="la la-file-pdf-o"></i>
                </span>
                <span class="navi-text">PDF</span>
              </a>
            </li>
          </ul>
          <!--end::Navigation-->
        </div>
        <!--end::Dropdown Menu-->
      </div>
      <!--end::Dropdown-->
      <!--begin::Button-->
      <a routerLink="/registro" class="btn btn-primary font-weight-bolder">
        <span class="svg-icon svg-icon-md">
          <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            version="1.1"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24"></rect>
              <circle fill="#000000" cx="9" cy="15" r="6"></circle>
              <path
                d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                fill="#000000"
                opacity="0.3"
              ></path>
            </g>
          </svg>
          <!--end::Svg Icon--> </span
        >Nuevo Registro</a
      >
      <!--end::Button-->
    </div>
  </div>
  <div class="card-body">
    <!--begin: Search Form-->
    <form class="mb-15">
      <div class="row mb-6">
        <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Reg.Nro:</label>
          <input
            type="text"
            class="form-control datatable-input"
            placeholder="Ej: 4590"
            data-col-index="0"
          />
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Documento:</label>
          <input
            type="text"
            class="form-control datatable-input"
            placeholder="Ej:3275847"
            data-col-index="1"
            #txtDni
            (keyup)="buscarDoc(txtDni.value)"
          />
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Usuario:</label>
          <input
            type="text"
            class="form-control datatable-input"
            placeholder="Nombre del usuario"
            data-col-index="4"
          />
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Fecha de registro:</label>
          <div class="input-daterange input-group" id="kt_datepicker">
            <input
              type="text"
              class="form-control datatable-input"
              name="start"
              placeholder="Desde"
              data-col-index="5"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="la la-ellipsis-h"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control datatable-input"
              name="end"
              placeholder="Hasta"
              data-col-index="5"
            />
          </div>
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Tipo de Registro:</label>
          <select class="form-control datatable-input" data-col-index="6">
            <option value="">Seleccionar</option>
            <option value="1">Sin sintomas</option>
            <option value="2">Sintomas</option>
          </select>
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Localidad:</label>
          <select class="form-control datatable-input data-col-index=2">
            <option
              value="localidad.nombre"
              *ngFor="let localidad of localidades"
            >
              {{localidad.nombre}}
            </option>
          </select>
        </div>

        <!-- <div class="col-lg-3 mb-lg-0 mb-6">
          <label>Type:</label>
          <select class="form-control datatable-input" data-col-index="7">
            <option value="">Select</option>
            <option value="1">Online</option>
            <option value="2">Retail</option>
            <option value="3">Direct</option>
          </select>
        </div> -->
      </div>
      <div class="row mt-8">
        <div class="col-lg-12">
          <button class="btn btn-primary btn-primary--icon" id="kt_search">
            <span>
              <i class="la la-search"></i>
              <span>Buscar</span>
            </span></button
          >&nbsp;&nbsp;
          <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
            <span>
              <i class="la la-close"></i>
              <span>Reiniciar</span>
            </span>
          </button>
        </div>
      </div>
    </form>
    <!--begin: Datatable-->
    <!--begin: Datatable-->
    <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <div class="row">
        <div class="col-sm-12">
          <table
            class="table table-bordered table-hover table-checkable dataTable dtr-inline collapsed"
            id="kt_datatable"
            role="grid"
            aria-describedby="kt_datatable_info"
            style="width: 1229px"
          >
            <thead>
              <tr role="row">
                <th
                  class="sorting_asc"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 1px"
                  aria-sort="ascending"
                  aria-label="Record ID: activate to sort column descending"
                >
                  Reg.Nro
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 30px"
                  aria-label="Order ID: activate to sort column ascending"
                >
                  Fecha de Registro
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 126px"
                  aria-label="Country: activate to sort column ascending"
                >
                  Apellido
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 165px"
                  aria-label="Ship City: activate to sort column ascending"
                >
                  Nombre
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 121px"
                  aria-label="Company Agent: activate to sort column ascending"
                >
                  Tipo de Registro
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 71px; display: none"
                  aria-label="Ship Date: activate to sort column ascending"
                >
                  Fecha de Registro
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 66px; display: none"
                  aria-label="Status: activate to sort column ascending"
                >
                  Status
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="kt_datatable"
                  rowspan="1"
                  colspan="1"
                  style="width: 45px; display: none"
                  aria-label="Type: activate to sort column ascending"
                >
                  Tipo de Registro
                </th>
                <th
                  class="sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  style="width: 117px"
                  aria-label="Actions"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Reg.Nro</th>
                <th rowspan="1" colspan="1">Fecha de Registro</th>
                <th rowspan="1" colspan="1">Apellido</th>
                <th rowspan="1" colspan="1">Nombre</th>
                <th rowspan="1" colspan="1">Tipo de Registro</th>
                <th rowspan="1" colspan="1" style="display: none">Ship Date</th>
                <th rowspan="1" colspan="1" style="display: none">Status</th>
                <th rowspan="1" colspan="1" style="display: none">
                  Tipo de Registro
                </th>
                <th rowspan="1" colspan="1">Actions</th>
              </tr>
            </tfoot>
            <tbody>
              <tr role="row" class="odd" *ngFor="let f of form  ">
                <td class="sorting_1 dtr-control">{{f.nroForm}}</td>
                <td>{{f.fecha|date}}</td>
                <td>{{f.persona?.apellido}}</td>
                <td>{{f.persona?.nombre}}</td>
                <td>{{f?.tipo_registro}}</td>
                <td style="display: none">10/15/2017</td>
                <td style="display: none">
                  <span
                    class="label label-lg font-weight-bold label-light-info label-inline"
                    >Info</span
                  >
                </td>
                <td style="display: none">
                  <span class="label label-danger label-dot mr-2"></span
                  ><span class="font-weight-bold text-danger">Online</span>
                </td>
                <td>
                  <div class="dropdown dropdown-inline">
                    <a
                      href="javascript:;"
                      class="btn btn-sm btn-clean btn-icon"
                      data-toggle="dropdown"
                    >
                      <i class="la la-cog"></i>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-sm dropdown-menu-right"
                    >
                      <ul class="nav nav-hoverable flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="#"
                            ><i class="nav-icon la la-edit"></i
                            ><span class="nav-text">Edit Details</span></a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"
                            ><i class="nav-icon la la-leaf"></i
                            ><span class="nav-text">Update Status</span></a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"
                            ><i class="nav-icon la la-print"></i
                            ><span class="nav-text">Print</span></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-clean btn-icon"
                    title="Edit details"
                  >
                    <i class="la la-edit"></i>
                  </a>
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-clean btn-icon"
                    title="Delete"
                  >
                    <i class="la la-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            id="kt_datatable_processing"
            class="dataTables_processing card"
            style="display: none"
          >
            Processing...
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info"
            id="kt_datatable_info"
            role="status"
            aria-live="polite"
          >
            Showing 1 to 10 of {{form.length}} entries
          </div>
        </div>
        <div class="col-sm-12 col-md-7 dataTables_pager">
          <div class="dataTables_length" id="kt_datatable_length">
            <label
              >Display
              <select
                name="kt_datatable_length"
                aria-controls="kt_datatable"
                class="custom-select custom-select-sm form-control form-control-sm"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select></label
            >
          </div>
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="kt_datatable_paginate"
          >
            <ul class="pagination">
              <li
                class="paginate_button page-item previous disabled"
                id="kt_datatable_previous"
              >
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="0"
                  tabindex="0"
                  class="page-link"
                  ><i class="ki ki-arrow-back"></i
                ></a>
              </li>
              <li class="paginate_button page-item active">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="1"
                  tabindex="0"
                  class="page-link"
                  >1</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="2"
                  tabindex="0"
                  class="page-link"
                  >2</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="3"
                  tabindex="0"
                  class="page-link"
                  >3</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="4"
                  tabindex="0"
                  class="page-link"
                  >4</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="5"
                  tabindex="0"
                  class="page-link"
                  >5</a
                >
              </li>
              <li
                class="paginate_button page-item disabled"
                id="kt_datatable_ellipsis"
              >
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="6"
                  tabindex="0"
                  class="page-link"
                  >…</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="7"
                  tabindex="0"
                  class="page-link"
                  >35</a
                >
              </li>
              <li class="paginate_button page-item next" id="kt_datatable_next">
                <a
                  href="#"
                  aria-controls="kt_datatable"
                  data-dt-idx="8"
                  tabindex="0"
                  class="page-link"
                  ><i class="ki ki-arrow-next"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end: Datatable-->
  </div>
</div>
