<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <h4 class="card-title">Registros</h4>
                        <h6 class="card-subtitle">Existenes en el sistema</h6>
                    </div>

                    <div class="col-2">
                        <div class="text-right">
                            <a class="btn waves-effect waves-light btn-info model_img img-responsive" routerLink="/registro">
                                <i class="fa fa-edit (alias)"></i> Registro
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="footable-sortable">
                                    Documento<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">
                                    Apellido<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">
                                    Nombre<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">
                                    Estado<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">
                                    Localidad<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">
                                    Fecha de Carga<span class="footable-sort-indicator"></span>
                                </th>

                                <!--  <th class="footable-sortable">Joining date<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Salery<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="footable-even" *ngFor="let f of form">
                                <td>
                                    <input name="documento" type="text" class="form-control" placeholder="{{f.persona.documento}}" [readonly]="soloLectura" />
                                </td>
                                <td>
                                    <input name="apellido" type="text" class="form-control" placeholder="{{f.persona.apellido}}" [readonly]="soloLectura" />
                                    <td class="text-center">
                                        <input name="nombre" type="text" class="form-control" placeholder="{{f.persona.nombre}}" [readonly]="soloLectura" />
                                    </td>
                                    <td>
                                        <input name="estado" type="text" class="form-control" placeholder="{{f.tipo_registro}}" [readonly]="soloLectura" />
                                        <span class="label label-danger"></span></td>
                                    <td>
                                        <input name="estado" type="text" class="form-control" placeholder="{{f.persona.localidad}}" [readonly]="soloLectura" />
                                    </td>

                                    <td>
                                        <input name="fecha_carga" type="text" class="form-control" placeholder="{{f.fecha| date:'yyyy-MM-dd'}}" [readonly]="soloLectura" />

                                    </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="text-right">
                                        <ul class="pagination">
                                            <li class="footable-page-arrow disabled">
                                                <a data-page="first" href="#first">«</a>
                                            </li>
                                            <li class="footable-page-arrow disabled">
                                                <a data-page="prev" href="#prev">‹</a>
                                            </li>
                                            <li class="footable-page active">
                                                <a data-page="0" href="#">1</a>
                                            </li>
                                            <li class="footable-page">
                                                <a data-page="1" href="#">2</a>
                                            </li>
                                            <li class="footable-page-arrow">
                                                <a data-page="next" href="#next">›</a>
                                            </li>
                                            <li class="footable-page-arrow">
                                                <a data-page="last" href="#last">»</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <button class="btn btn-secondary">Anteriores</button> &nbsp;
                <button class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>