<form class="form">
    <div class="card-body">
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-right">DNI:</label>
            <div class="col-lg-4">
                <input type="email" class="form-control" placeholder="Enter full name" />
                <span class="form-text text-muted">Ingrese el DNI sin puntos</span>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label text-right">Seleccione el Sexo</label>
                <div class="col-lg-4">
                    <div class="radio-inline">
                        <label class="radio radio-solid">
             <input type="radio" name="example_2" checked="checked" value="2"/>
             <span></span>
             Femenino
            </label>
                        <label class="radio radio-solid">
             <input type="radio" name="example_2" value="2"/>
             <span></span>
             Masculino
            </label>
                    </div>
                    <span class="form-text text-muted">Seleccione el Sexo</span>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label text-right">Full Name:</label>
        <div class="col-lg-3">
            <input type="email" class="form-control" placeholder="Enter full name" />
            <span class="form-text text-muted">Please enter your full name</span>
        </div>
        <label class="col-lg-2 col-form-label text-right">Contact Number:</label>
        <div class="col-lg-3">
            <input type="email" class="form-control" placeholder="Enter contact number" />
            <span class="form-text text-muted">Please enter your contact number</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label text-right">Address:</label>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your address" />
                <div class="input-group-append"><span class="input-group-text"><i class="la la-map-marker"></i></span></div>
            </div>
            <span class="form-text text-muted">Please enter your address</span>
        </div>
        <label class="col-lg-2 col-form-label text-right">Postcode:</label>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your postcode" />
                <div class="input-group-append"><span class="input-group-text"><i class="la la-bookmark-o"></i></span></div>
            </div>
            <span class="form-text text-muted">Please enter your postcode</span>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="reset" class="btn btn-success mr-2">Submit</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</form>