<div class="card card-custom card-sticky" id="kt_page_sticky_card">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        Registro 0800 COVID 19 <i class="mr-2"></i>
        <small class="">Nueva llamada -</small>
        <input type="datetime" name="fechahora" step="1" min="2013-01-01T00:00Z" max="2023-12-31T12:00Z">
      </h3>
    </div>
    <div class="card-toolbar">
      <a routerLink="/dashboard" class="btn btn-light-primary font-weight-bolder mr-2">
        <i class="ki ki-long-arrow-back icon-sm"></i> Volver
      </a>
      <div class="btn-group">
        <button type="button" class="btn btn-primary font-weight-bolder">
          <i class="ki ki-check icon-sm"></i>
          Guardar el Formulario
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
          <ul class="nav nav-hover flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon flaticon2-reload"></i>
                <span class="nav-text">Guardar & continuar</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon flaticon2-add-1"></i>
                <span class="nav-text">Guardar y agregar una nueva llamada</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon flaticon2-power"></i>
                <span class="nav-text">Guardar y Salir</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <form class="form-horizontal p-t-20" [formGroup]="personaForm">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fas fa-exclamation-circle"></i> Busqueda de Personas
        </h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="control-label">Ingrese el Numero de Documento:</label>
          <input type="text" formControlName="documento" class="form-control" id="documento"
            placeholder="Numero de Documento" />

          <label class="btn btn-outline btn-info active">
            <input type="radio" name="sexo" autocomplete="off" value="M" formControlName="sexo" />
            <i class="ti-check text-active" aria-hidden="true"></i>
            Masculino
          </label>
          <label class="btn btn-outline btn-info">
            <input type="radio" name="sexo" autocomplete="off" formControlName="sexo" value="F" />
            <i class="ti-check text-active" aria-hidden="true"></i>
            Femenino
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/dashboard" class="btn btn-default waves-effect" data-dismiss="modal"
          (click)="modal.dismiss('Cross click')">
          Salir
        </button>
        <button type="button" (click)="modal.dismiss(Renaper())" routerLink="/registro"
          class="btn btn-danger waves-effect waves-light" data-dismiss="modal">
          Buscar
        </button>
      </div>
    </ng-template>
  </form>
  <!--///////////////////////////////////////////////////////////////////////////////////////////-->
  <div *ngIf="cargando">
    <div class="card-body">
      <!--begin::Form-->

      <form class="form" [formGroup]="form_registro">
        <div class="form-group" formGroupName="persona">
          <div class="row">
            <div class="col-12">
              <div class="my-5">
                <h3 class="text-dark font-weight-bold">
                  Informacion del Contacto:
                </h3>
                <div class="row">

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>Doc. de Identidad</label>
                      <input class="form-control form-control-solid" type="text" formControlName="documento"
                        name="documento" placeholder="" />
                      <span class="form-text text-muted">Ingrese el número sin puntos.</span>
                    </div>
                  </div>

                  <div class="col-xl-1">
                    <div class="form-group">
                      <label>Sexo</label>
                      <input class="form-control form-control-solid" type="text" formControlName="sexo" name="sexo"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-1">
                    <div class="form-group">
                      <label>Edad</label>
                      <input class="form-control form-control-solid" type="text" formControlName="edad" name="edad"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-3">
                    <div class="form-group">
                      <label>Nombre/s</label>
                      <input class="form-control form-control-solid" type="text" formControlName="nombre" name="nombre"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-3">
                    <div class="form-group">
                      <label>Apellido/s</label>
                      <input class="form-control form-control-solid" type="text" formControlName="apellido"
                        name="apellido" placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>Tel. de Contacto</label>
                      <input class="form-control form-control-solid" type="text" formControlName="telefono"
                        name="telefono" placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>


                </div>
              </div>
              <!-- Cierra Row -->

              <div class="separator separator-dashed "></div>
              <div class="my-5">
                <h3 class="text-dark font-weight-bold ">
                  Datos del Domicilio:
                </h3>

                <div class="row">

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>Calle</label>
                      <input class="form-control form-control-solid" type="text" formControlName="calle" name="calle"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-1">
                    <div class="form-group">
                      <label>Número</label>
                      <input class="form-control form-control-solid" type="text" formControlName="numero" name="numero"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>Ciudad</label>
                      <input class="form-control form-control-solid" type="text" formControlName="localidad"
                        name="localidad" placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>CP</label>
                      <input class="form-control form-control-solid" type="text" formControlName="cpostal"
                        name="cpostal" placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>Provincia</label>
                      <input class="form-control form-control-solid" type="text" formControlName="provincia"
                        name="provincia" placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>Pais</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                </div>
              </div>
              <div class="separator separator-dashed "></div>
              <div class="my-5">
                <h3 class="text-dark font-weight-bold ">
                  Presenta Sintomas?
                </h3>

                <div class="row">

                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>FECHA DE INICIO DE SINTOMAS</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>SINTOMAS ACTUALES</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>ANTECEDENTES PERSONALES</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>TIENE ALGUNA ENFERMEDAD</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>TOMA ACTUALMENTE ALGÚN MEDICAMENTO</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-1">
                    <div class="form-group">
                      <label>CUANTAS PERSONAS COMPARTEN LA VIVIENDA</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-3">
                    <div class="form-group">
                      <label>CUÁL ES SU LUGAR DE TRABAJO ACTUAL</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>DIRECCIÓN DE TRABAJO</label>
                      <input class="form-control form-control-solid" type="text" formControlName="pais" name="pais"
                        placeholder="" />
                      <span class="form-text text-muted"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleTextarea">CIERRE DE CONTACTO</label>
                    <textarea class="form-control form-control-solid" rows="3"></textarea>
                  </div>

                  <div class="col-xl-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!--end::Form-->
    </div>
  </div>
</div>