<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<div class="row">
				<div class="col-10"></div>
				<h3 class="card-label">
					Registro 0800 COVID 19 <i class="mr-2"></i>
					<small class=""> Nueva llamada </small>
				</h3>

				<div class="card-toolbar"></div>
				<a
					routerLink="/registros"
					class="btn btn-light-primary font-weight-bolder mr-2"
				>
					<i class="ki ki-long-arrow-back icon-sm"></i>
					Volver
				</a>
				<div class="btn-group" *ngIf="cargar_datos">
					<button
						type="button"
						(click)="submit()"
						class="btn btn-primary font-weight-bolder"
					>
						<i class="ki ki-check icon-sm"></i>
						Guardar el Formulario
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="card-body">
		<form class="form" [formGroup]="personaForm" (ngSubmit)="submit()">
			<!--begin::Form-->
			<ng-container *ngIf="buscar_datos">
				<div formGroupName="persona" class="row" style="margin-top: 18px">
					<div class="col d-flex justify-content-center" style="width: 80%">
						<div class="row">
							<div class="col-4" style="min-width: 300px">
								<h4 class="text">Buscar datos de Persona</h4>
								<div class="form-group" style="margin-top: 10px">
									<label
										for="recipient-name"
										class="control-label"
										style="margin-top: 20px"
										>Ingrese el Numero de Documento:</label
									>
									<input
										type="text"
										formControlName="documento"
										class="form-control"
										id="documento"
										placeholder="Numero de Documento"
									/>
								</div>
							</div>

							<div class="col-4" style="min-width: 300px">
								<div class="col-12 justify-content-center">
									<h4 class="text">Seleccione el Sexo</h4>
									<label style="margin-right: 20px">
										<input
											type="radio"
											name="sexo"
											value="M"
											formControlName="sexo"
											[(ngModel)]="sexo"
											checked
										/>
										<i class="ti-check text-active" aria-hidden="true"></i>
										Masculino
									</label>
									<label>
										<input
											type="radio"
											name="sexo"
											formControlName="sexo"
											[(ngModel)]="sexo"
											value="F"
										/>
										<i class="ti-check text-active" aria-hidden="true"></i>
										Femenino
									</label>
								</div>
							</div>
							<div
								class="col-4 d-flex justify-content-center"
								style="min-width: 300px"
							>
								<div class="row">
									<button
										type="button"
										(click)="renaper()"
										class="btn btn-light-primary font-weight-bolder mr-2 btn-lg"
										style="height: 65px; width: 200px"
									>
										Buscar Persona
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>

			<!-- Termina el Contenedor de Busqueda -->

			<!-- Comienza la muestra  del formulario con los datos recogidos de Renaper -->

			<ng-container *ngIf="cargar_datos">
				<div class="form-group" formGroupName="persona">
					<div class="row" style="margin-top: 10px">
						<h3 class="text-dark font-weight-bold">
							Datos de la Persona que LLama:
						</h3>
					</div>

					<div class="row">
						<div class="col-2 padding-1">
							<div class="rowfoto" style="margin-top: 18px">
								<img
									id="foto"
									*ngIf="personaForm.get('persona.img').value"
									[src]="personaForm.get('persona.img').value"
									class="img-50"
								/>
							</div>
						</div>

						<div class="col-10 padding-1">
							<div class="row">
								<div class="col-xl-2 col-documento padding-1">
									<div class="form-group">
										<label>Documento</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="documento"
											name="documento"
											placeholder=""
											readonly="all"
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-1 col-sexo padding-1">
									<div class="form-group">
										<label>Sexo</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="sexo"
											name="sexo"
											placeholder=""
											readonly="all"
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-1 col-edad padding-1">
									<div class="form-group">
										<label>Edad</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="edad"
											name="edad"
											placeholder=""
											value="{{ mostrarEdad }}"
											readonly="all"
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>
								<!-- <div class="col-xl-1 col-edad padding-1">
									<div class="form-group">
										<label>Edad</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="fechaNacimiento" name="fechaNacimiento" placeholder="" />
										<span class="form-text text-muted"></span>
									</div>
								</div> -->

								<div class="col-xl-3 col-nombre padding-1">
									<div class="form-group">
										<label>Nombre/s</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="nombre"
											name="nombre"
											placeholder=""
											readonly="all"
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-3 col-apellido padding-1">
									<div class="form-group">
										<label>Apellido/s</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="apellido"
											name="apellido"
											placeholder=""
											readonly="all"
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-2 col-telefono padding-1">
									<div class="form-group">
										<label>Teléfono</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="telefono"
											name="telefono1"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>
							</div>

							<h3 class="text-dark font-weight-bold">Datos del Domicilio:</h3>
							<div class="row">
								<div class="col-xl-2 col-calle padding-1">
									<div class="form-group">
										<label>Calle</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="calle"
											name="calle"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-2 col-numero padding-1">
									<div class="form-group">
										<label>Número</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="numero"
											name="numero"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>
								<div class="col-xl-2 col-numero padding-1">
									<div class="form-group">
										<label>Piso</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="piso"
											name="piso"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-1 col-departamento padding-1">
									<div class="form-group">
										<label>Dpto</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="departamento"
											name="departamento"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-3 col-localidad padding-1">
									<div class="form-group">
										<label>Localidad</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="localidad"
											name="localidad"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-2 col-cpostal padding-1">
									<div class="form-group">
										<label>CP</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="cpostal"
											name="cpostal"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-2 col-provincia padding-1">
									<div class="form-group">
										<label>Provincia</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="provincia"
											name="provincia"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-2 col-pais padding-1">
									<div class="form-group">
										<label>Pais</label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="pais"
											name="pais"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="motivo_consulta">Motivo de la Consulta</label>
								<textarea
									class="form-control form-control-solid"
									rows="3"
									formControlName="motivo_consulta"
									name="cierre_contacto"
								></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="separator separator-dashed"></div>
						<div class="my-5">
							<div class="row">
								<h3 class="text-dark font-weight-bold">Presenta Sintomas?</h3>
								<div class="col-2">
									<label style="margin-right: 20px">
										<input
											type="radio"
											name="tipo_registro"
											value="Sintomas"
											formControlName="tipo_registro"
											[(ngModel)]="tipo_registro"
										/>
										<i class="ti-check text-active" aria-hidden="true"></i>
										SI
									</label>
									<label>
										<input
											type="radio"
											name="tipo_registros"
											formControlName="tipo_registro"
											value="Sin Sintomas"
											[(ngModel)]="tipo_registro"
											checked
										/>
										<i class="ti-check text-active" aria-hidden="true"></i>
										NO
									</label>
								</div>
							</div>
							<div *ngIf="tipo_registro === 'Sintomas'">
								<div class="row">
									<div class="col-3">
										<div class="form-group row">
											<label for="start">Inicio de Síntomas</label>
											<input
												id="start"
												class="form-control form-control-solid"
												type="date"
												formControlName="fecha_ini_sint"
												name="fecha_ini_sint"
												max="{{ fechahoy }}"
											/>
											<span class="form-text text-muted"></span>
											<!-- 
											<label for="fecha_ini_sint">Inicio de Síntomas</label>
											<input class="form-control" type="date" id="fecha_ini_sint" /> -->
										</div>
									</div>
									<div class="col-xl-9">
										<div class="form-group">
											<label>Síntomas Actuales</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="sintomas"
												name="sintomas"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-12">
										<div class="form-group">
											<label>Antecedentes Personales</label>

											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="antencedentes_p"
												name="antencedentes_p"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="col-xl-12">
										<div class="form-group">
											<label>Tiene alguna Enfermedad?</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="enfermedad_pre"
												name="enfermedad_pre"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-9 padding-1">
										<div class="form-group">
											<label>Toma algún Medicamento?</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="toma_medicamentos"
												name="toma_medicamentos"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="col-3 padding-1">
										<div class="form-group">
											<label>Con cuantas personas Convive</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="vivienda_personas"
												name="vivienda_personas"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
								</div>

								<div class="row" formGroupName="trabajo">
									<div class="col-xl-3 padding-1">
										<div class="form-group">
											<label>Lugar de Trabajo Actual </label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="lugar"
												name="lugar"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="col-xl-2 col-telefono padding-1">
										<div class="form-group">
											<label>Teléfono Laboral</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="telefonol"
												name="telefonol"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="col-xl-3 col-calle padding-1">
										<div class="form-group">
											<label>Calle</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="callel"
												name="callel"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="col-xl-2 col-numero padding-1">
										<div class="form-group">
											<label>Número</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="numerol"
												name="numerol"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="col-xl-2 col-localidad padding-1">
										<div class="form-group">
											<label>Localidad</label>
											<input
												class="form-control form-control-solid"
												type="text"
												formControlName="localidadl"
												name="localidadl"
												placeholder=""
											/>
											<span class="form-text text-muted"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="checkbox-inline">
									<label class="checkbox">
										<input
											type="checkbox"
											formControlName="atencion_domiciliaria"
											name="atencion_domiciliaria"
										/>
										<span></span>
										Derivacion Atencion Domiciliaria?
									</label>
									<label class="checkbox">
										<input
											type="checkbox"
											formControlName="cert_aislamiento"
											name="cert_aislamiento"
										/>
										<span></span>
										Requiere certificado de aislamiento
									</label>
									<label class="checkbox">
										<input
											type="checkbox"
											formControlName="resultado_hisopado"
											name="resultado_hisopado"
										/>
										<span></span>
										Solicita resultado de hisopado
									</label>
									<label class="checkbox">
										<input
											type="checkbox"
											formControlName="derivacion_107"
											name="derivacion_107"
										/>
										<span></span>
										Derivacion 107?
									</label>
									<label class="checkbox">
										<input
											type="checkbox"
											formControlName="mov_propia"
											name="mov_propia"
										/>
										<span></span>
										Tiene Movilidad?
									</label>
								</div>
							</div>
							<div class="row">
								<h3 class="text-dark font-weight-bold">
									Se ha realizado un hisopado?
								</h3>
								<div class="col-2">
									<label style="margin-right: 20px">
										<input
											type="radio"
											name="realizo_hisopado"
											value="Si"
											formControlName="realizo_hisopado"
											[(ngModel)]="realizo_hisopado"
										/>
										<i class="ti-check text-active" aria-hidden="true"></i>
										SI
									</label>
									<label>
										<input
											type="radio"
											name="realizo_hisopado"
											formControlName="realizo_hisopado"
											value="No"
											[(ngModel)]="realizo_hisopado"
											checked
										/>
										<i class="ti-check text-active" aria-hidden="true"></i>
										NO
									</label>
								</div>
							</div>
							<div *ngIf="realizo_hisopado === 'Si'">
								<div class="row">
									<div class="form-group col-8">
										<label>Lugar de Hisopado </label>
										<input
											class="form-control form-control-solid"
											type="text"
											formControlName="lugar_hisopado"
											name="lugar_hisopado"
											placeholder=""
										/>
										<span class="form-text text-muted"></span>
									</div>
									<div class="form-group col-3">
										<label for="start1">Fecha de Hisopado</label>
										<input
											class="form-control form-control-solid"
											type="date"
											id="start1"
											formControlName="fecha_hisopado"
											name="fecha_hisopado"
											min=" {{ fechamin }}"
											max="{{ fechahoy }}"
										/>
										<span class="form-text text-muted"></span>
									</div>
								</div>
							</div>
							<span class="form-text text-muted"></span>
						</div>

						<div class="col-xl-12">
							<div class="form-group">
								<label for="motivo_consulta">Cierre de Contacto</label>
								<textarea
									class="form-control form-control-solid"
									rows="5"
									formControlName="cierre_contacto"
									name="cierre_contacto"
								></textarea>
							</div>
						</div>
					</div>
				</div>

				<!-- 
				<div class="row">


					<div class="btn-group">
						<button type="button" (click)="submit()" class="btn btn-primary font-weight-bolder">
							<i class="ki ki-check icon-sm"></i>
							Guardar el Formulario
						</button>
					</div>
				</div> -->
			</ng-container>
		</form>
	</div>
</div>
<!--end::Form-->
