<div *ngIf="cargado">
  <div class="row">
    <div class="col-12 card card-custom gutter-b">
      <div class="row card-body">
        <div class="col-sm-4">
          <div class="col bg-light-info px-6 py-4 rounded-xl mr-7 mb-7">
            <div class="row">
              <div class="col-8">
                <span class="svg-icon svg-icon-3x svg-icon-info d-block my-2"
                  ng-reflect-inline-s-v-g="./assets/media/svg/icons/Commu">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Stockholm-icons / Communication / Add-user</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Stockholm-icons-/-Communication-/-Add-user" stroke="none" stroke-width="1" fill="none"
                      fill-rule="evenodd">
                      <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                      <path
                        d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                        id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                      <path
                        d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                        id="Mask-Copy" fill="#000000" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="col-4" style="text-align: end;">
                <!--container--><a class="text-info font-weight-bold font-size-h1" style="text-align: right">{{
                  this.cantRegistros }}
                </a>
              </div>
            </div>
            <!--container--><a class="text-info font-weight-bold font-size-h6"> REGISTRO TOTAL DE LLAMADAS </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col bg-light-danger px-6 py-4 rounded-xl mr-7 mb-7">
            <div class="row">
              <div class="col-8">
                <span class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
                  ng-reflect-inline-s-v-g="./assets/media/svg/icons/Commu">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Stockholm-icons / Communication / Add-user</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Stockholm-icons-/-Communication-/-Add-user" stroke="none" stroke-width="1" fill="none"
                      fill-rule="evenodd">
                      <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                      <path
                        d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                        id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                      <path
                        d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                        id="Mask-Copy" fill="#000000" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="col-4" style="text-align: end;">
                <!--container--><a class="text-danger font-weight-bold font-size-h1" style="text-align: right">{{
                  this.form_Covid }}
                </a>
              </div>
            </div>
            <!--container--><a class="text-danger font-weight-bold font-size-h6"> Llamadas por Covid </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col bg-light-success px-6 py-4 rounded-xl mr-7 mb-7">
            <div class="row">
              <div class="col-8">
                <span class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
                  ng-reflect-inline-s-v-g="./assets/media/svg/icons/Commu">
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Stockholm-icons / Communication / Add-user</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Stockholm-icons-/-Communication-/-Add-user" stroke="none" stroke-width="1" fill="none"
                      fill-rule="evenodd">
                      <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                      <path
                        d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                        id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                      <path
                        d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                        id="Mask-Copy" fill="#000000" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="col-4" style="text-align: end;">
                <!--container--><a class="text-success font-weight-bold font-size-h1" style="text-align: right">{{
                  this.form_Vacuna }}
                </a>
              </div>
            </div>
            <!--container--><a class="text-success font-weight-bold font-size-h6"> Llamadas por informe de Vacunacion
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row align-items-center">
      <div class="col-sm-6 pt-5">
        <div class="card card-custom card-grafico">
          <div class="card-header">
            <div class="card-title">
              <h3 class="card-label">
                Progreso de LLamadas
                <small>Últimos 7 días</small>
              </h3>
            </div>

          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-4 d-flex flex-column">
                <!--begin::Block-->
                <div class="bg-light-warning p-8 rounded-xl flex-grow-1">
                  <!--begin::Item-->
                  <div class="d-flex align-items-center mb-5">
                    <div class="symbol symbol-circle symbol-white symbol-30 flex-shrink-0 mr-3">
                      <div class="symbol-label">
                        <span class="svg-icon svg-icon-md svg-icon-danger">
                          <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart3.svg-->
                          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                            <title>Stockholm-icons / Communication / Add-user</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Stockholm-icons-/-Communication-/-Add-user" stroke="none" stroke-width="1"
                              fill="none" fill-rule="evenodd">
                              <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                              <path
                                d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                              <path
                                d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                id="Mask-Copy" fill="#000000" fill-rule="nonzero"></path>
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                      </div>
                    </div>
                    <div>
                      <div class="font-size-sm font-weight-bold">{{this.conSintomas}}</div>
                      <div class="font-size-sm text-muted">Personas con sintomas</div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="d-flex align-items-center mb-5">
                    <div class="symbol symbol-circle symbol-white symbol-30 flex-shrink-0 mr-3">
                      <div class="symbol-label">
                        <span class="svg-icon svg-icon-md svg-icon-info">
                          <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                            <title>Stockholm-icons / Communication / Add-user</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Stockholm-icons-/-Communication-/-Add-user" stroke="none" stroke-width="1"
                              fill="none" fill-rule="evenodd">
                              <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                              <path
                                d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                              <path
                                d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                id="Mask-Copy" fill="#000000" fill-rule="nonzero"></path>
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                      </div>
                    </div>
                    <div>
                      <div class="font-size-sm font-weight-bold">{{this.sinSintomas}}</div>
                      <div class="font-size-sm text-muted">Personas sin sintomas</div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="d-flex align-items-center mb-5">
                    <div class="symbol symbol-circle symbol-white symbol-30 flex-shrink-0 mr-3">
                      <div class="symbol-label">
                        <span class="svg-icon svg-icon-md svg-icon-warning">
                          <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flip-vertical.svg-->
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <path
                                d="M9.07117914,12.5710461 L13.8326627,12.5710461 C14.108805,12.5710461 14.3326627,12.3471885 14.3326627,12.0710461 L14.3326627,0.16733734 C14.3326627,-0.108805035 14.108805,-0.33266266 13.8326627,-0.33266266 C13.6282104,-0.33266266 13.444356,-0.208187188 13.3684243,-0.0183579985 L8.6069408,11.8853508 C8.50438409,12.1417426 8.62909204,12.4327278 8.8854838,12.5352845 C8.94454394,12.5589085 9.00756943,12.5710461 9.07117914,12.5710461 Z"
                                fill="#000000" opacity="0.3"
                                transform="translate(11.451854, 6.119192) rotate(-270.000000) translate(-11.451854, -6.119192)">
                              </path>
                              <path
                                d="M9.23851648,24.5 L14,24.5 C14.2761424,24.5 14.5,24.2761424 14.5,24 L14.5,12.0962912 C14.5,11.8201488 14.2761424,11.5962912 14,11.5962912 C13.7955477,11.5962912 13.6116933,11.7207667 13.5357617,11.9105959 L8.77427814,23.8143047 C8.67172143,24.0706964 8.79642938,24.3616816 9.05282114,24.4642383 C9.11188128,24.4878624 9.17490677,24.5 9.23851648,24.5 Z"
                                fill="#000000"
                                transform="translate(11.500000, 18.000000) scale(1, -1) rotate(-270.000000) translate(-11.500000, -18.000000)">
                              </path>
                              <rect fill="#000000" opacity="0.3"
                                transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)"
                                x="11" y="2" width="2" height="20" rx="1"></rect>
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                      </div>
                    </div>
                    <div>
                      <div class="font-size-sm font-weight-bold">[[34,300]]</div>
                      <div class="font-size-sm text-muted">Llamadas recibidas</div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="d-flex align-items-center mb-5">
                    <div class="symbol symbol-circle symbol-white symbol-30 flex-shrink-0 mr-3">
                      <div class="symbol-label">
                        <span class="svg-icon svg-icon-md svg-icon-success">
                          <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Cupboard.svg-->
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <path
                                d="M3.5,3 L9.5,3 C10.3284271,3 11,3.67157288 11,4.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L3.5,20 C2.67157288,20 2,19.3284271 2,18.5 L2,4.5 C2,3.67157288 2.67157288,3 3.5,3 Z M9,9 C8.44771525,9 8,9.44771525 8,10 L8,12 C8,12.5522847 8.44771525,13 9,13 C9.55228475,13 10,12.5522847 10,12 L10,10 C10,9.44771525 9.55228475,9 9,9 Z"
                                fill="#000000" opacity="0.3"></path>
                              <path
                                d="M14.5,3 L20.5,3 C21.3284271,3 22,3.67157288 22,4.5 L22,18.5 C22,19.3284271 21.3284271,20 20.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,4.5 C13,3.67157288 13.6715729,3 14.5,3 Z M20,9 C19.4477153,9 19,9.44771525 19,10 L19,12 C19,12.5522847 19.4477153,13 20,13 C20.5522847,13 21,12.5522847 21,12 L21,10 C21,9.44771525 20.5522847,9 20,9 Z"
                                fill="#000000"
                                transform="translate(17.500000, 11.500000) scale(-1, 1) translate(-17.500000, -11.500000)">
                              </path>
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                      </div>
                    </div>
                    <div>
                      <div class="font-size-sm font-weight-bold">550</div>
                      <div class="font-size-sm text-muted">Llamadas realizadas</div>
                    </div>
                  </div>
                  <!--end::Item-->

                </div>
                <!--end::Block-->
              </div>
              <div class="col-8">
                <app-colchart [labelsFec]="labelsFec" [dataFec]="datosFec"></app-colchart>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 pt-5">
        <div class="card card-custom card-pie">
          <div class="card-header">
            <div class="card-title">
              <h3 class="card-label">
                Registro Total de Personas
                <small>Desde el día 22/10</small>
              </h3>
            </div>
          </div>
          <div class="card-body card-body-per"
            style="align-items: center; margin-left: 0;margin-right: 0;padding-left: 0;padding-right: 0;">
            <app-piechart [sinSintomas]="sinSintomas" [conSintomas]="conSintomas"></app-piechart>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-5">
        <div class="card card-custom card-grafico-loc">
          <div class="card-header">
            <div class="card-title">
              <h3 class="card-label">
                Progreso de LLamadas por Localidad
                <small></small>
              </h3>
            </div>
          </div>
          <div class="card-body card-body-per"
            style="align-items: center; margin-left: 0;margin-right: 0;padding-left: 0;padding-right: 0;padding-top: 0;margin-top: 0;">
            <app-columns [labelsLoc]="labelsLoc" [dataLoc]="datosLoc"></app-columns>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>