<div class="card card-custom card-sticky" id="kt_page_sticky_card">

    <div class="card-header">
        <div class="card-title" style="width: 100%">
            <div class="row" style="width: 100%">
                <div class="col-8">
                    <h3 class="card-label">
                        Registro 0800 COVID 19 <i class="mr-2"></i>
                        <small class=""> Datos ingresados de </small>
                    </h3>
                </div>
                <div class="col-4" style="text-align: left">
                    <a routerLink="/registros" class="btn btn-light-primary font-weight-bolder mr-2" click="Volver()">
                        <i class="ki ki-long-arrow-back icon-sm"></i> Volver
                    </a>
                </div>
            </div>

            <div class="card-toolbar"></div>
        </div>
    </div>

    <div class="card-body">
        <form class="form" [formGroup]="personaForm">
            <!--begin::Form-->

            <!-- Termina el Contenedor de Busqueda -->

            <!-- Comienza la muestra  del formulario con los datos recogidos de Renaper -->

            <ng-container *ngIf="cargar_datos">
                <div class="form-group" formGroupName="persona">
                    <div class="row" style="margin-top: 10px">
                        <h3 class="text-dark font-weight-bold">
                            Datos de la Persona que LLama:
                        </h3>
                    </div>


					<div class="row">
						<div class="col-2 padding-1">
							<div class="rowfoto" style="margin-top: 18px">
								<img id="foto" class="img-50" [src]="personaForm.get('persona.img').value" />
							</div>
						</div>

						<div class="col-10 padding-1">
							<div class="row">
								<div class="col-xl-2 col-documento padding-1">
									<div class="form-group">
										<label>Documento</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="documento" name="documento" placeholder=""
											readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-1 col-sexo padding-1">
									<div class="form-group">
										<label>Sexo</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="sexo" name="sexo" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-1 col-edad padding-1">
									<div class="form-group">
										<label>Edad</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="edad" name="edad" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>
								<!-- <div class="col-xl-1 col-edad padding-1">
									<div class="form-group">
										<label>Edad</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="fechaNacimiento" name="fechaNacimiento" placeholder="" />
										<span class="form-text text-muted"></span>
									</div>
								</div> -->

								<div class="col-xl-3 col-nombre padding-1">
									<div class="form-group">
										<label>Nombre/s</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="nombre" name="nombre" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-3 col-apellido padding-1">
									<div class="form-group">
										<label>Apellido/s</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="apellido" name="apellido" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-2 col-telefono padding-1">
									<div class="form-group">
										<label>Teléfono</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="telefono" name="telefono" readonly="all" />
									</div>
								</div>
							</div>

							<h3 class="text-dark font-weight-bold">Datos del Domicilio:</h3>
							<div class="row">
								<div class="col-xl-2 col-calle padding-1">
									<div class="form-group">
										<label>Calle</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="calle" name="calle" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-2 col-numero padding-1">
									<div class="form-group">
										<label>Número</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="numero" name="numero" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>
								<div class="col-xl-2 col-numero padding-1">
									<div class="form-group">
										<label>Piso</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="piso" name="piso" placeholder="" readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>

								<div class="col-xl-1 col-departamento padding-1">
									<div class="form-group">
										<label>Dpto</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="departamento" name="departamento" placeholder=""
											readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>
								<div class="col-xl-3 col-localidad padding-1">
									<div class="form-group">
										<label>Localidad</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="localidad" name="localidad" placeholder=""
											readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>
								<div class="col-xl-2 col-provincia padding-1">
									<div class="form-group">
										<label>Provincia</label>
										<input class="form-control form-control-solid" type="text"
											formControlName="provincia" name="provincia" placeholder=""
											readonly="all" />
										<span class="form-text text-muted"></span>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>

			</ng-container>
		</form>
		<div class="card-toolbar">
			<!--begin::Dropdown que no existe!!!! Fuck Jquery-->

			&nbsp;
			<!--end::Dropdown-->
			<!--begin::Button-->
			<a routerLink="/llamada" routerLinkActive="router-link-active" class="btn btn-primary font-weight-bolder">
				<span class="svg-icon svg-icon-md">
					<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
						height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24"></rect>
							<circle fill="#000000" cx="9" cy="15" r="6"></circle>
							<path
								d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
								fill="#000000" opacity="0.3"></path>
						</g>
					</svg>
					<!--end::Svg Icon--> </span>Nuevo Registro</a>
			<!--end::Button-->
		</div>
		<h3 class="text-dark font-weight-bold">Seguimiento</h3>

		<div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<div class="row">
				<div class="col-12">
					<table class="table table-bordered table-hover table-checkable dataTable dtr-inline collapsed"
						id="kt_datatable" role="grid" aria-describedby="kt_datatable_info">
						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1"
									colspan="1" style="width: 0.5px" aria-sort="ascending"
									aria-label="Record ID: activate to sort column descending">
									Reg.Nro
								</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
									style="width: 20px" aria-label="Order ID: activate to sort column ascending">
									Fecha
								</th>

								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
									style="width: 1px" aria-label="Company Agent: activate to sort column ascending">
									Motivo de llamada
								</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1"
									style="width:1px" aria-label="Company Agent: activate to sort column ascending">
									Cierre del Contacto
								</th>
								<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 1px"
									aria-label="Tareas">
									Seguimiento
								</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th rowspan="1" colspan="1">Reg.Nro</th>
								<th rowspan="1" colspan="1">Fecha</th>
								<th rowspan="1" colspan="1">Motivo de llamada</th>
								<th rowspan="1" colspan="1">Cierre del Contacto</th>
								<th rowspan="1" colspan="1" style="display: none">
									Tipo de Registro
								</th>
								<th rowspan="1" colspan="1">Seguimito</th>
							</tr>
						</tfoot>
						<tbody>
							<tr role="row" class="odd" *ngFor="let f of form">
								<td class="sorting_1 dtr-control">{{ f?.nroForm }}</td>
								<td>{{ f?.fecha | date: "dd/MM/yyyy" }}</td>
								<td>{{ f?.motivo }}</td>
								<td>{{ f?.cierre_contacto  }}</td>

								<td style="display: none">
									<span class="label label-danger label-dot mr-2"></span><span
										class="font-weight-bold text-danger">Online</span>
								</td>
								<td>
									<a routerLink="/mostrar" class="btn btn-primary font-weight-bolder"
										(click)="Mostrar(f)">
										<span class="svg-icon svg-icon-md">
											<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="12px"
												viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="12" height="24"></rect>
													<circle fill="#000000" cx="9" cy="15" r="6"></circle>
													<path
														d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
														fill="#000000" opacity="0.3"></path>
												</g>
											</svg>
											<!--end::Svg Icon--> </span>Ver</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div id="kt_datatable_processing" class="dataTables_processing card" style="display: none">
						Prosesando...
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-sm-12 col-md-5">
					<div class="dataTables_info" id="kt_datatable_info" role="status" aria-live="polite">
						Pagina 1 de 10 | {{ totalForm }} Registros en total.
					</div>
				</div>
				<div class="col-sm-12 col-md-7 dataTables_pager">
					<div class="dataTables_length" id="PaginaH">
						<label>Paginar
							<select name="PaginaH" aria-controls="kt_datatable"
								class="custom-select custom-select-sm form-control form-control-sm">
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
							</select></label>
					</div>
					<div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_paginate">
						<ul class="pagination">
							<button (click)="paginacion(-10)" class="btn btn-secondary">
								Anteriores
							</button>
							&nbsp;
							<button (click)="paginacion(10)" class="btn btn-secondary">
								Siguientes
							</button>
						</ul>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!--end::Form-->